.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
config/config.yml
config/config.production.yml
config/config.staging.yml
config/deploy.rb
config/deploy
config/mongoid.yml
config/newrelic.yml
config/database.yml
config/sidekiq.yml
config/unicorn.rb
lib/capistrano/tasks
.rvmrc
.idea
*~
*.rbc
.DS_Store
*.rbx
bin
bundle
coverage
*#
