- if notice
  .notice-pagination
    ~ link_to_if notice.previous, raw('← Older'), {notice_id: notice.previous.try(:id)}, {class: "next_page", rel: "next"} do |name|
      ~ content_tag :span, name, class: 'next_page disabled'
    = '|'
    ~ link_to_if notice.next, raw('Newer →'), {notice_id: notice.next.try(:id)}, {class: "previous_page", rel: "prev"} do |name|
      ~ content_tag :span, name, class: 'previous_page disabled'
  %div viewing occurrence #{notice.index_number + 1} of #{notices_count}
